<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <title>Create New Product</title>
  </head>
  <body align="center">

    <h1 align="center">Create New Product</h1>
    <br><br>

    <form action="#" method="post" th:action="@{/save}" th:object="${product}">


        <table align="center" class="styled-table">
            <tr>
                <td>Property Type <br>(Appartment/Condo/Townhouse):</td>
                <td><input type="text" th:field="*{propertyType}" /></td>
            </tr>
            <tr>
                <td>Property Address:</td>
                <td><input type="text" th:field="*{propertyAddress}" /></td>
            </tr>
            <tr>
                <td>Number of Bedrooms:</td>
                <td><input type="text" th:field="*{numberOfBedrooms}" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>

        </table>

    </form>
</div>



</body>
</html>